@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: var(--bg-white);
  color: var(--title-black);

  font-family: Roboto, sans-serif;
  //   padding-top: 72px;
}

h1,
h2,
h3,
h4,
ul,
p {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
