:root {
    --title-black: #2C2C2C;
    --title-grey: #505050;
    --title-green: #7EB101;
    --bg-white: #FEFEFE;
    --btn-green: #BBF330;
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #FFE550;
    --shadow-fruit: radial-gradient(50% 50% at 50% 50%, 
    #2F583F 0%, rgba(105, 105, 105, 0) 100%);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;