<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="node_modules/modern-normalize/modern-normalize.css"
    />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="customers">
        <div>
          <h2 class="customers__title">What our Customers Say</h2>
          <p class="customers__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="group">
            <div class="group1">
              <p>
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
            </div>
            <div class="group2">
              <p>
                “The ease with which I can just go in and order what i want was
                amazing, It has been a very pleasant experience ordering from
                this app”
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
