<section class="customers" id="feedback">
  <div class="container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="respond__list list responsive">
      <div class="respond__item">
        <div>
          <svg class="respond__icon" width="101" height="16">
            <use href="./images/sprite.svg#icon-stars"></use>
          </svg>
          <p class="respond__desc">
            “The Best app I have used to order food in a while, so many options
            to choose from too, I would recommend to a freind, No questions
            asked”
          </p>
          <div class="visitor">
            <picture>
              <source
                srcset="
                  ./images/customers/customer1@1x.png 1x,
                  ./images/customers/customer1@2x.png 2x
                "
                type="image/jpg"
              />
              <img
                class="visitor__avatar"
                src="./images/customers/customer1@1x.png"
                alt="Customer1"
              />
            </picture>
            <div class="visitor__content">
              <h3 class="visitor__name">Sumith Shah</h3>
              <p class="visitor__desc">Some Dude</p>
            </div>
          </div>
        </div>
      </div>

      <div class="respond__item">
        <div>
          <svg class="respond__icon" width="101" height="16">
            <use href="./images/sprite.svg#icon-stars"></use>
          </svg>
          <p class="respond__desc">
            “The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from this
            app”
          </p>
          <div class="visitor">
            <picture>
              <source
                srcset="
                  ./images/customers/customer2@1x.png 1x,
                  ./images/customers/customer2@2x.png 2x
                "
                type="image/jpg"
              />
              <img
                class="visitor__avatar"
                src="./images/customers/customer2@1x.png"
                alt="Customer2"
              />
            </picture>
            <div class="visitor__content">
              <h3 class="visitor__name">Sumith Shah</h3>
              <p class="visitor__desc">Some Dude</p>
            </div>
          </div>
        </div>
      </div>
      <div class="respond__item">
        <div>
          <svg class="respond__icon" width="101" height="16">
            <use href="./images/sprite.svg#icon-stars"></use>
          </svg>
          <p class="respond__desc">
            “The Best app I have used to order food in a while, so many options
            to choose from too, I would recommend to a freind, No questions
            asked”
          </p>
          <div class="visitor">
            <picture>
              <source
                srcset="
                  ./images/customers/customer1@1x.png 1x,
                  ./images/customers/customer1@2x.png 2x
                "
                type="image/jpg"
              />
              <img
                class="visitor__avatar"
                src="./images/customers/customer1@1x.png"
                alt="Customer1"
              />
            </picture>
            <div class="visitor__content">
              <h3 class="visitor__name">Sumith Shah</h3>
              <p class="visitor__desc">Some Dude</p>
            </div>
          </div>
        </div>
      </div>

      <div class="respond__item">
        <div>
          <svg class="respond__icon" width="101" height="16">
            <use href="./images/sprite.svg#icon-stars"></use>
          </svg>
          <p class="respond__desc">
            “The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from this
            app”
          </p>
          <div class="visitor">
            <picture>
              <source
                srcset="
                  ./images/customers/customer2@1x.png 1x,
                  ./images/customers/customer2@2x.png 2x
                "
                type="image/jpg"
              />
              <img
                class="visitor__avatar"
                src="./images/customers/customer2@1x.png"
                alt="Customer2"
              />
            </picture>
            <div class="visitor__content">
              <h3 class="visitor__name">Sumith Shah</h3>
              <p class="visitor__desc">Some Dude</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
