<!-- <div class="together"> -->
<section class="customers container">
  <h2 class="customers__title">What our Customers Say</h2>
  <p class="customers__desc">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="respond__list list">
    <li class="respond__item">
      <svg class="respond__icon" width="101" height="16">
        <use href="./images/sprite.svg#icon-stars"></use>
      </svg>
      <p class="respond__desc">
        “The Best app I have used to order food in a while, so many options to
        choose from too, I would recommend to a freind, No questions asked”
      </p>
      <div class="visitor">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./images/customers/customer1.png,
              ./images/customers/customer1@2x.png
            "
            type="image/jpg"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/customers/customer1.png,
              ./images/customers/customer1@2x.png
            "
            type="image/jpg"
          />
          <source
            media="(max-width:767px)"
            srcset="
              ./images/customers/customer1.png,
              ./images/customers/customer1@2x.png
            "
            type="image/jpg"
          />
          <img
            class="visitor__avatar"
            src="./images/customers/customer1.png"
            alt="Customer1"
          />
        </picture>
        <div class="visitor__content">
          <h3 class="visitor__name">Sumith Shah</h3>
          <p class="visitor__desc">Some Dude</p>
        </div>
      </div>
    </li>
    <li class="respond__item">
      <svg class="respond__icon" width="101" height="16">
        <use href="./images/sprite.svg#icon-stars"></use>
      </svg>
      <p class="respond__desc">
        “The ease with which I can just go in and order what i want was amazing,
        It has been a very pleasant experience ordering from this app”
      </p>
      <div class="visitor">
        <img
          class="visitor__avatar"
          src="./images/customers/customer2.png"
          alt="Customer2"
        />
        <div class="visitor__content">
          <h3 class="visitor__name">Sumith Shah</h3>
          <p class="visitor__desc">Some Dude</p>
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- <div class="subscribe container">
    <div class="two">
      <div class="two__1">
        <img
          class="subscribe__image"
          srcset="
            ./images/fruits/banana/banana-desktop.png     608w,
            ./images/fruits/banana/banana-desktop@2x.png 1216w,
            ./images/fruits/banana/banana-tablet.png      281w,
            ./images/fruits/banana/banana-tablet@2x.png   562w,
            ./images/fruits/banana/banana-mobile.png      161w,
            ./images/fruits/banana/banana-mobile@2x.png   322w
          "
          sizes="(min-width: 1280px) 608px, (min-width: 768px) 281px, (min-width: 480px) 161px, 100vw"
          alt="Banana"
        />
      </div>
      <div class="two__2">
        <div class="subscribe__flex">
          <div class="subscribe__info">
            <h2 class="info-title">Subscribe To Get Special Offers</h2>
            <p class="info-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique.
            </p>
          </div>
          <form class="subscribe__form">
            <label class="form-label">
              <input
                class="form-input"
                type="email"
                name="mail"
                placeholder="Enter your email"
                required
              />
            </label>
            <button class="form-button btn" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
