<section class="favorites" id="menu">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites__list list">
      <li class="favorites__item">
        <a href="#" class="favorites__link" >
          <picture>
             <source
              media="(min-width: 1280px)"
              srcset="./images/dishes/1280/burger-desktop.png 1x, ./images/dishes/1280/burger-desktop@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/dishes/768/burger-tablet.png 1x, ./images/dishes/768/burger-tablet@2x.png 2x"
            /> 
            <source
              media="(max-width: 768px)"
              srcset="./images/dishes/480/burger-mobile.png 1x, ./images/dishes/480/burger-mobile@2x.png 2x"
            />
            <img class="favorites__img"
              src="./images/dishes/480/burger-mobile.png"
              alt="Burger"
              loading="lazy"
            /> </picture
          >
       </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
             <source
              media="(min-width: 1280px)"
              srcset="./images/dishes/1280/pasta-desktop.png 1x, ./images/dishes/1280/pasta-desktop@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/dishes/768/pasta-tablet.png 1x, ./images/dishes/768/pasta-tablet@2x.png 2x"
            /> 
            <source
              media="(max-width: 768px)"
              srcset="./images/dishes/480/pasta-mobile.png 1x, ./images/dishes/480/pasta-mobile@2x.png 2x"
            />
              <img class="favorites__img"
              src="./images/dishes/480/pasta-mobile.png"
              alt="Pasta"
              loading="lazy"
            /> </picture
          >
       </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
             <source
              media="(min-width: 1280px)"
              srcset="./images/dishes/1280/pizza-desktop.png 1x, ./images/dishes/1280/pizza-desktop@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/dishes/768/pizza-tablet.png 1x, ./images/dishes/768/pizza-tablet@2x.png 2x"
            /> 
            <source
              media="(max-width: 768px)"
              srcset="./images/dishes/480/pizza-mobile.png 1x, ./images/dishes/480/pizza-mobile@2x.png 2x"
            />
            <img class="favorites__img"
              src="./images/dishes/480/pizza-mobile.png"
              alt="Pizza"
              loading="lazy"
            /> </picture
          >
       </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
             <source
              media="(min-width: 1280px)"
              srcset="./images/dishes/1280/chicken-desktop.png 1x, ./images/dishes/1280/chicken-desktop@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/dishes/768/chicken-tablet.png 1x, ./images/dishes/768/chicken-tablet@2x.png 2x"
            /> 
            <img class="favorites__img"
              src="./images/dishes/768/chicken-tablet.png"
              alt="Chicken"
              loading="lazy"
            /> </picture
          >
       </a>
      </li>
       <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
             <source
              media="(min-width: 1280px)"
              srcset="./images/dishes/1280/salat-desktop.png 1x, ./images/dishes/1280/salat-desktop@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/dishes/768/salat-tablet.png 1x, ./images/dishes/768/salat-tablet@2x.png 2x"
            /> 
            <img class="favorites__img"
              src="./images/dishes/768/salat-tablet.png"
              alt="Salat"
              loading="lazy"
            /> </picture
          >
       </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
             <source
              media="(min-width: 1280px)"
              srcset="./images/dishes/1280/borshch-desktop.png 1x, ./images/dishes/1280/borshch-desktop@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/dishes/768/borshch-tablet.png 1x, ./images/dishes/768/borshch-tablet@2x.png 2x"
            /> 
            <img class="favorites__img"
              src="./images/dishes/768/borshch-tablet.png"
              alt="Borshch"
              loading="lazy"
            /> </picture
          >
       </a>
      </li>
  </ul>
</section>
