<section class="favorites">
  <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites__list list">
      <!-- <li class="favorites__item">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/team/fteam270@1x.jpg 1x, ./images/team/fteam270@2x.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./images/team/fteam354@1x.jpg 1x, ./images/team/fteam354@2x.jpg 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./images/team/fteam450@1x.jpg 1x, ./images/team/fteam450@2x.jpg 2x"
            />
            <img
              src="./images/team/fteam270@1x.jpg"
              alt="Ігор Дем'яненко продакт-дизайнер"
              loading="lazy"
            /> </picture
          ><img src="" alt=""
        /></a>
      </li> -->
      <!-- <li class="favorites__item">
        <a href="#"><img src="" alt="" /></a>
      </li>
      <li class="favorites__item">
        <a href="#"><img src="" alt="" /> </a>
      </li> -->
    </ul>
  </div>
  <h2></h2>
  <p></p>
  <ul>
    <!-- <li>
      <a href=""><img src="" alt="" /></a>
    </li>
    <li>
      <a href=""><img src="" alt="" /></a>
    </li>
    <li>
      <a href=""><img src="" alt="" /></a>
    </li> -->
  </ul>
</section>
