<footer class="footer" id="contact">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__nav">
        <a href="#" class="nav-link-logo">
          <svg class="nav-logo" width="69" height="51">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link link" href="#hero">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="footer__subscribe">
        <p class="subscribe-subtitle">Subscribe</p>
        <form class="footer__form">
          <label for="mail" class="subscribe-lable">
            <input
              id="mail"
              class="subscribe-input"
              type="email"
              name="mail"
              placeholder="Enter your email"
              required
            />
            <span class="input-error">
              <svg class="error-icon">
                <use href="../src/images/sprite.svg#error"></use></svg
              >Not a valid email address (example@email.com)
            </span>
          </label>
          <div class="footer__button">
            <button class="subscribe-button btn" type="submit">Subscribe</button>
          </div>
        </form>
        <p class="footer__text">
          By subscribing you agree to with our
          <a href="" class="privacy-link link">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer__privacy">
      <ul class="footer__list">
        <li class="privacy-item">
          <a class="privacy-link link" href="#">Privacy Policy</a>
        </li>
        <li class="privacy-item">
          <a class="privacy-link link" href="#">Terms of Service</a>
        </li>
        <li class="privacy-item">
          <a class="privacy-link link" href="#">Cookies Settings</a>
        </li>
      </ul>
      <p class="privacy__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
