<footer class="footer">
  <div class="footer__container container">
    <div class="footer__nav">
      <a href="#" class="footer__nav-logo" width="69" height="51">
        <svg class="footer__logo-img">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer__menu">
        <li class="footer__menu-item"><a class="footer__menu-link link" href="#">Home</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link link" href="#">About</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link link" href="#">Service</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link link" href="#">Menu</a></li>
        <li class="footer__menu-item"><a class="footer__menu-link link" href="#">Contact</a></li>
      </ul>
    </div>

    <form class="footer__subscribe">
      Subscribe
      <input
        class="footer__subscribe-input"
        type="text"
        name="email"
        placeholder="Enter your email"
      />
      <button class="footer__subscribe-button" type="submit">Subscribe</button>
    </form>
    <p class="footer__subscribe-text">
      By subscribing you agree to with our <a href="">Privacy Policy</a>
    </p>
    <ul class="footer__privacy">
      <li><a class="footer__privacy-link link" href="#">Privacy Policy</a></li>
      <li><a class="footer__privacy-link link" href="#">Terms of Service</a></li>
      <li><a class="footer__privacy-link link" href="#">Cookies Settings</a></li>
    </ul>
    <p>2022 FoodSta. All right reserved.</p>
  </div>
</footer>
