<footer class="footer">
  <div class="footer__container">
    <a href="#"></a>
    <ul class="footer__nav">
      <li class="footer__nav-item"><a class="footer__nav-link link" href="#">Home</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link link" href="#">About</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link link" href="#">Service</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link link" href="#">Menu</a></li>
      <li class="footer__nav-item"><a class="footer__nav-link link" href="#">Contact</a></li>
    </ul>
    <form class="footer__subscribe">
      Subscribe
      <input
        class="footer__subscribe-input"
        type="text"
        name="email"
        placeholder="Enter your email"
      />
      <button class="footer__subscribe-button" type="submit">Subscribe</button>
    </form>
    <p class="footer__subscribe-text">
      By subscribing you agree to with our<a href="">Privacy Policy</a>
    </p>
    <ul class="footer__privacy">
      <li><a class="footer__privacy-link" href="#">Privacy Policy</a></li>
      <li><a class="footer__" href="#">Terms of Service</a></li>
      <li><a class="footer__" href="#">Cookies Settings</a></li>
    </ul>
    <p>2022 FoodSta. All right reserved.</p>
  </div>
</footer>
