<header class="header" id="header">
  <div class="container header-container">
    <a href="" class="logo">
      <svg class="logo__icon">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list list">
        <li class="header-nav__item">
          <a href="#hero" class="link header-nav__link current">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="#about" class="link header-nav__link">About</a>
        </li>
        <li class="header-nav__item">
          <a href="#menu" class="link header-nav__link">Menu</a>
        </li>
        <li class="header-nav__item">
          <a href="#feedback" class="link header-nav__link">Feedback</a>
        </li>
        <li class="header-nav__item">
          <a href="#contact" class="link header-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-button" data-modal-open>
      Order Now
    </button>
    <div class="menu-position">
      <button class="mobile-menu" type="button" data-menu-open>
        <svg class="mobile-menu__icon">
          <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="mobile-menu-container is-open" data-menu>
        <button
          class="mobile-menu-container-button"
          type="button"
          data-menu-close
        >
          <svg class="mobile-menu-container__icon">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <ul class="mobile-menu-list list">
          <li class="mobile-menu__item">
            <a href="#hero" class="link mobile-menu__link">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#about" class="link mobile-menu__link">About</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#menu" class="link mobile-menu__link">Menu</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#feedback" class="link mobile-menu__link">Feedback</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#contact" class="link mobile-menu__link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
