<section class="hero-section" id="hero" lang="en">
  <div class="container hero-container">
    <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button
      class="btn hero-btn--theme js-open-modal"
      type="button"
      data-modal="2"
    >
      Order Now
    </button>

    <div class="scrol-menu single-item">
      <div class="">
        <img
          class=""
          srcset="
            ./images/food-hero/dish1-tablet.png      292w,
            ./images/food-hero/dish1-tablet@2x.png   584w,
            ./images/food-hero/dish1-desktop.png     528w,
            ./images/food-hero/dish1-desktop@2x.png 1056w
          "
          sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 
       100vw"
          src="./images/food-hero/dish1-tablet.png"
          alt="First dish"
        />
      </div>
      <div class="">
        <img
          class=""
          srcset="
            ./images/food-hero/dish2-tablet.png      292w,
            ./images/food-hero/dish2-tablet@2x.png   584w,
            ./images/food-hero/dish2-desktop.png     528w,
            ./images/food-hero/dish2-desktop@2x.png 1056w
          "
          sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 
       100vw"
          src="./images/food-hero/dish2-tablet.png "
          alt="Second dish"
        />
      </div>
      <div class="dish-2">
        <img
          class=""
          srcset="
            ./images/food-hero/dish3-tablet.png      292w,
            ./images/food-hero/dish3-tablet@2x.png   584w,
            ./images/food-hero/dish3-desktop.png     528w,
            ./images/food-hero/dish3-desktop@2x.png 1056w
          "
          sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 
       100vw"
          src="./images/food-hero/dish3-tablet.png"
          alt="Third dish"
        />
      </div>
    </div>
  </div>
</section>
