<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="form">
      <h3 class="form__title">Order Form</h3>
      <div class="form__field">
        <label class="form__label"
          >Name
          <input
            type="text"
            name="name"
            class="form__input"
            placeholder="Your name"
            required
            minlength="3"
            maxlength="25"
          />
          <span class="input-error">
            <svg class="error-icon">
              <use href="../src/images/sprite.svg#error"></use>
            </svg>
            Not a valid email address (example@email.com)
          </і>
        </label>
      </div>
      <div class="form__field">
        <label class="form__label"
          >Phone number
          <input
            type="tel"
            name="tel"
            class="form__input"
            placeholder="+38(0_ _) _ _ _ _ _ _ _"
            pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            required
          />
          <span class="input-error">
            <svg class="error-icon">
              <use href="../src/images/sprite.svg#error"></use>
            </svg>
            Not a valid email address (example@email.com)
          </span>
        </label>
      </div>
      <div class="form__field">
        <label class="form__label"
          >E-mail
          <input
            type="email"
            name="mail"
            class="form__input"
            placeholder="example@gmail.com"
            required
          />
          <span class="input-error">
            <svg class="error-icon">
              <use href="../src/images/sprite.svg#error"></use>
            </svg>
            Not a valid email address (example@email.com)
          </span>
        </label>
      </div>
      <button type="submit" class="btn form-btn">Send</button>
    </form>
    <button type="button" class="button-close" data-modal-close>
      <svg class="button-close__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
