<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="form">
      <h3 class="form__title">Order Form</h3>
      <div class="form__field">
        <label for="name" class="form__label">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form__input"
          placeholder="Your name"
          required
          minlength="3"
          maxlength="25"
        />
      </div>
      <div class="form__field">
        <label for="tel" class="form__label">Phone number</label>
        <input
          type="tel"
          name="tel"
          id="tel"
          class="form__input"
          placeholder="+38(0_ _) _ _ _ _ _ _ _"
          required
        />
      </div>
      <div class="form__field">
        <label for="mail" class="form__label">E-mail</label>
        <input
          type="email"
          name="mail"
          id="mail"
          class="form__input"
          placeholder="example@gmail.com"
          required
        />
      </div>
      <button type="submit" class="btn form-btn">Send</button>
    </form>
    <button type="button" class="button-close" data-modal-close>
      <svg class="button-close__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
