<div class="subscribe container">
  <img
    class="subscribe__image"
    srcset="
      ./images/fruits/banana/banana-desktop.png     608w,
      ./images/fruits/banana/banana-desktop@2x.png 1216w,
      ./images/fruits/banana/banana-tablet.png      281w,
      ./images/fruits/banana/banana-tablet@2x.png   562w,
      ./images/fruits/banana/banana-mobile.png      161w,
      ./images/fruits/banana/banana-mobile@2x.png   322w
    "
    sizes="(min-width: 1280px) 608px, (min-width: 768px) 281px, (min-width: 480px) 161px, 100vw"
    alt="Banana"
  />
  <div class="subscribe_flex">
    <div class="subscribe__info">
      <h2 class="info-title">Subscribe To Get Special Offers</h2>
      <p class="info-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </div>

    <form class="subscribe__form">
      <div class="field form">
        <div class="input-area">
          <input type="text" placeholder="Enter your email" />
        </div>
        <div class="error-txt">
          Not a valid email address (example@email.com)
        </div>
      </div>
      <button class="form-button btn" type="submit" value="Login">
        Subscribe
      </button>
    </form>
  </div>
</div>
