<!-- <div class="subscribe">
  <picture class="subscribe__image">
    <source
      srcset="
      ./images/fruits/banana/banana-desktop.png 1x
      ./images/fruits/banana/banana-desktop.png 2x
    "
      media="(min-width: 1280px)"
    />
    <source
      srcset="
      ./images/fruits/banana/banana-tablet.png 1x
      ./images/fruits/banana/banana-tablet.png 2x
    "
      media="(min-width: 768px)"
    />
    <source
      srcset="
      ./images/fruits/banana/banana-mobile.png 1x
      ./images/fruits/banana/banana-mobile.png 2x
    "
    />
    <img
      class="overlay__image"
      src="./images/fruits/banana/banana-mobile.png"
      alt="Banana>"
    />
  </picture>
  <h2 class="title">Subscribe To Get Special Offers</h2>
  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
</div> -->
