.customers {
    background-color: #FFE550;
}

.group {
    display: flex;
    width: 336px;
    height: 244px;
}

.group1 {
    background-color: white;
    // z-index: 1;
}

.group2 {
    background-color: white;
}