.footer {
  padding-bottom: 60px;
  background-color: var(--bg-white);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  // background-image: url(../images/fruits/footer/footer-mobile.png);
  // @include retina-bgi {
  //   background-image: url(../images/fruits/footer/footer-mobile@2x.png);
  // }
  @include tablet {
    padding-bottom: 100px;
  }
  @include desktop {
  }
}
.footer__wrapper {
  @include desktop {
    display: flex;
  }
}
.footer__nav {
  display: flex;
}

.nav-link-logo {
  padding-top: 60px;
  margin-right: 81px;
  @include tablet {
    padding-top: 100px;
    margin-right: 114px;
  }
  @include desktop {
    padding-top: 100px;
    margin-right: 148px;
  }
}

.nav-list {
  padding-top: 64px;
  @include tablet {
    padding-top: 118px;
    display: flex;
  }
}

.nav-item:not(:last-child) {
  margin-bottom: 20px;
  @include tablet {
    margin-right: 28px;
    margin-bottom: 0px;
  }
}

.nav-link {
  font-size: 14px;
  line-height: 1.14;

  color: var(--black);

  &:hover,
  &:focus {
    color: var(--btn-green);
  }
}
.nav-link:hover,
.nav-link:focus {
  color: var(--btn-green);
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @include tablet {
    display: block;
  }
  @include desktop {
    margin-top: 100px;
    margin-left: auto;
  }
}
.subscribe-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;

  color: var(--title-black);
}
.subscribe-input {
  padding-left: 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  width: 100%;
  height: 42px;
  background-color: var(--white);

  border-radius: 30px;
  font-size: 12px;
  line-height: 1.5;
  outline: none;

  &::placeholder {
    color: var(--title-grey);
  }

  &:required {
    border: 0.854167px solid var(--yellow);
  }

  &:not(:placeholder-shown):required:valid {
    border: 0.854167px solid var(--title-green);
  }

  &:not(:placeholder-shown) {
    border: 0.854167px solid var(--red);
  }
}

.subscribe-button {
  margin-bottom: 20px;
  width: 103px;
  height: 42px;
  margin-left: auto;
  background: var(--white);
  border: 0.85px solid var(--title-green);

  color: var(--title-black);
  &:hover,
  &:focus {
    border: 2px solid #ffe450;
  }
}

.footer__text {
  margin-bottom: 60px;
  font-size: 10px;
  line-height: 1.2;

  color: var(--title-black);
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 100px;
  }
  @include desktop {
    margin-bottom: 80px;
  }
}
.footer__privacy {
  @include tablet {
    display: flex;
    align-items: baseline;
  }
}
.footer__list {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  @include tablet {
    gap: 20px;
    margin-bottom: 0px;
  }
}

.privacy-link {
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: var(--title-green);
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
  }
}

.privacy__text {
  font-size: 10px;
  line-height: 1.2;
  color: var(--title-black);
  text-align: center;
  @include tablet {
    font-size: 12px;
    line-height: 1.16;
    margin-left: auto;
  }
}
