.hero-section {
  @include tablet {
    background: transparent;
  }
}

.hero-container {
  position: relative;
  padding-top: 60px;

  @include desktop {
    padding-top: 159px;
  }
}

.hero-title {
  font-size: 27px;
  line-height: calc(33 / 27);
  margin-bottom: 28px;
  @include tablet {
    width: 537px;
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 44px;
  }
  @include desktop {
    width: 502px;
    font-size: 48px;
    line-height: 120%;
  }
}

.hero-subtitle {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 28px;
  @include tablet {
    width: 336px;
    font-size: 16px;
    width: 336px;
    margin-bottom: 40px;
  }
  @include desktop {
    width: 502px;
    font-size: 16px;
    line-height: 150%;
  }
}

.hero-btn--theme {
  padding: 6px 18px;
  background-color: var(--btn-green);
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;

  &:hover,
  &:focus {
    background-color: var(--yellow);
  }
}

.scrol-menu {
  display: none;
  @include tablet {
    display: block;
  }
  position: absolute;
  right: 50%;
  top: 50%;
}

.scrol-menu-left {
  width: 28px;
  height: 34px;
  display: flex;
  align-items: center;
  background: transparent;
  border: transparent;
}

.scrol__menu__icon {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  display: block;
}
