.oferring-section {
  @include tablet {
    margin-top: -32px;
  }

  @include desktop {
    margin-top: 0;
  }
}

.offerings-conteiner {
  background-image: url(../images/background/480/bg-up-mobile.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 40px;
  padding-bottom: 60px;
  min-width: 320px;

  @include retina-bgi {
    background-image: url(../images/background/480/bg-up-mobile@2x.png);
  }

  @include mobile {
    @include retina-bgi {
      background-image: url(../images/background/480/bg-up-mobile@2x.png);
    }
  }

  @include tablet {
    background-image: url(../images/background/768/bg-up-tablet.png);
    padding-top: 150px;
    padding-bottom: 100px;

    @include retina-bgi {
      background-image: url(../images/background/768/bg-up-tablet@2x.png);
    }

    @include desktop {
      background-image: url(../images/background/1280/bg-up-desktop.png);
      padding-top: 177px;
      padding-bottom: 43px;
      flex-direction: row;
      gap: 90px;
    }

    @include retina-bgi {
      background-image: url(../images/background/1280/bg-up-desktop@2x.png);
    }
  }
}

.apple__conteiner {
  display: flex;
}

.large__apple {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 309px;

  @include retina-bgi {
    width: 280px;
    height: 309px;
  }

  @include tablet {
    margin: 0;
    width: 357px;
    height: 394px;
  }

  // margin-top: 41px;
  @include tablet {
    width: 357px;
    height: 394px;
  }

  @include desktop {
    margin-top: 62px;
    width: 550px;
    height: 604px;
  }
}

.medium__apple {
  display: none;
  @include tablet {
    display: block;
    margin-top: 130px;
    margin-left: 29px;
    width: 166px;
    height: 211px;
  }
  @include desktop {
    display: none;
  }
}

.soft__apple {
  display: none;
  @include tablet {
    display: block;
    width: 108px;
    height: 136px;
    margin-top: 190px;
    margin-left: 44px;
  }
  @include desktop {
    display: none;
  }
}

.title {
  font-size: 27px;
  line-height: calc(33 / 27);
  margin-bottom: 28px;
  color: var(--title-black);

  @include tablet {
    font-size: 42px;
    line-height: calc(49 / 42);
    width: 529px;
  }

  @include desktop {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 120%;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 28px;
  color: var(--title-black);

  @include tablet {
    font-size: 16px;
    line-height: calc(19 / 16);
    max-width: 500px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 150%;
  }
}

.service-menu__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 28px;

  @include tablet {
    gap: 116px;
    flex-direction: row;
  }
  @include desktop {
    gap: 67px;
    margin-bottom: 32px;
  }
}

.service__menu__item {
  @include tablet {
    width: 252px;
  }
  @include desktop {
    width: 253px;
  }
}

.service-title {
  font-size: 18px;
  line-height: calc(21 / 18);
  margin-bottom: 16px;
  color: var(--title-black);

  @include desktop {
    font-size: 18px;
    line-height: 140%;
  }
}

.service-subtitle {
  color: var(--title-black);
  font-size: 14px;
  line-height: calc(16 / 14);

  @include tablet {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
  @include desktop {
    font-size: 14px;
    line-height: 150%;
  }
}

.button__servis__icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  border: transparent;
  margin-bottom: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--title-green);
  }
}

.border--theme {
  border: 2px solid var(--btn-green);
  padding: 10px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include desktop {
    margin-bottom: 57px;
  }
  &:hover,
  &:focus {
    background-color: var(--btn-green);
  }
}

.title--theme {
  position: relative;
  font-size: 14px;
  line-height: 150%;
  background-color: transparent;
  border: transparent;

  @include desktop {
    display: none;
  }
}

.title--theme__icon {
  position: absolute;
  top: 5px;
}

.button-menu {
  display: flex;
  gap: 28px;
  align-items: center;
}

.about-conteiner {
  display: flex;
  flex-wrap: wrap;

  @include desktop {
    padding-top: 143px;
  }
}
