.title {
  font-size: 27px;
  line-height: calc(33 / 27);
  margin-bottom: 28px;
}

.subtitle {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 28px;
}

.service-title {
  font-size: 18px;
  line-height: calc(21 / 18);
  margin-bottom: 16px;
}

.service__subtitle {
  font-size: 14px;
  line-height: calc(16 / 14);
}

.button__servis__icon {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--title-green);
  background-color: var(--white);
  border-radius: 50%;
  border: transparent;
  margin-bottom: 8px;
}

.border--theme {
  border: 2px solid var(--title-green);
  padding: 10px 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

.title--theme {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  background-color: transparent;
  border: transparent;
}

.title--theme__icon {
  background-color: fill transparent;
}

.button-menu {
  display: flex;
  gap: 28px;
  align-items: center;
}
