.subscribe {
    padding-bottom: 60px;
    margin-top: -40px;


    @include tablet {
        margin-top: -75px;
    }
}


.position {
    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

}

.position__right {
    @include tablet {
        margin-top: 20px;
    }

    @include desktop {
        width: 656px;
        margin-top: 20px;
    }
}

.subscribe-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(34/28);
    align-content: start;

    @include tablet {
        font-weight: 700;
        font-size: 42px;
        line-height: calc(50/42);
        color: var(--title-black);
    }
}

.subscribe-desc {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16/14);
    margin-bottom: 40px;

    @include tablet {
        font-size: 16px;
        line-height: calc(24/16);
        color: var(--title-black);
        width: 600px;
    }
}

.subscribe__image {
    display: block;
    margin: 0 auto;
    width: 161px;
    height: 78px;

    @include tablet {
        margin: 0;
        margin-left: auto;

        width: 281px;
        height: 136px;
    }

    @include desktop {
        width: 608px;
        height: 266px;
        margin-right: 40px;
        // margin-bottom: 50px;
    }
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    padding: 12px 11px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include tablet;
    display: flex;
    flex-direction: row;
}

.registr {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        align-items: center;
    }
}

.subscribe-form__input {
    padding: 12px 11px;
    width: 100%;
    background: var(--white);
    border: 0.85px solid var(--yellow);
    border-radius: 30px;
    outline: transparent;

    @include tablet {
        width: 394px;
    }

    &::placeholder {
        font-size: 12px;
        line-height: calc(18/12);
        color: var(--title-grey);
    }

    &:placeholder-shown {
        border: 0.85px solid var(--yellow);
    }

    &:focus-within {
        border: 0.85px solid var(--yellow);
    }

    &:valid {
        border: 0.85px solid var(--title-green);
    }

    &:focus:invalid {
        border: 0.85px solid var(--red);
    }

    &:not(:focus-within):not(:placeholder-shown):invalid {
        border: 0.85px solid var(--red);
    }

    &:not(:focus-within):not(:placeholder-shown):invalid+.input-error {
        width: 100%;
        height: 15px;
        opacity: 1;
        visibility: visible;
    }
}

.input-error {
    font-size: 10px;
    line-height: 1.5%;
    align-items: center;
    color: var(--red);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 1250ms linear;
}

.error-icon {
    width: 11px;
    height: 11px;
    margin-right: 4px;
}

.sub-form-btn {
    width: 106px;
    background-color: var(--white);
    border-radius: 30px;
    margin-left: auto;
    margin-top: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 11px 22px;
    background-color: var(--btn-green);
    outline: transparent;

    &:hover,
    &:focus {
        background-color: var(--yellow);
    }

    @include tablet {
        margin-top: 0;
        margin-left: 22px;
    }
}