.up-button {
  position: fixed;
  bottom: 20%;
  right: 10px;
  @include tablet {
    right: 30px;
  }
  @include desktop {
    right: 50px;
  }
}
.up-button__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  fill: var(--title-green);
  &:hover,
  &:focus {
    scale: 1.2;
    fill: var(--btn-green);
    box-shadow: var(--btn-green) 2px 0px 15px;
  }
}
